<div class="col-6">
    <div class="form-floating mb-3">
        <input type="text" class="form-control" id="floatingInput" value="{{this.f_name}}" placeholder="First Name" name="first_name">
        <label for="floatingInput">First Name</label>
    </div>
</div>
<div class="col-6">
    <div class="form-floating mb-3">
        <input type="text" class="form-control" id="floatingInput" value="{{this.l_name}}" placeholder="Last Name" name="last_name">
        <label for="floatingInput">Last Name</label>
    </div>
</div>
<div class="form-floating mb-3">
    <input type="number" class="form-control" id="floatingInput" value="{{this.age}}" placeholder="Age" name="age">
    <label for="floatingInput">Age</label>
</div>

<div class="form-floating mb-3">
    <input type="number" class="form-control" id="floatingInput" value="{{this.phone}}" placeholder="Mobile Number" name="phone">
    <label for="floatingInput">Mobile Number</label>
</div>

<div class="form-floating mb-3">
    <input type="email" class="form-control" id="floatingInput" value="{{this.email}}" placeholder="Email" name="email">
    <label for="floatingInput">Email</label>
</div>

<div class="col-6">
    <div class="form-floating mb-3">
        <input type="text" class="form-control" id="floatingInput" value="{{this.street}}" placeholder="Street" name="street">
        <label for="floatingInput">Street</label>
    </div>
</div>

<div class="col-4">
    <div class="form-floating mb-3">
        <input type="text" class="form-control" id="floatingInput" value="{{this.state}}" placeholder="State" name="state">
        <label for="floatingInput">State</label>
    </div>
</div>
<div class="col-4">
    <div class="form-floating mb-3">
        <input type="text" class="form-control" id="floatingInput" value="{{this.pincode}}" placeholder="Pincode" name="pincode">
        <label for="floatingInput">Pincode</label>
    </div>
</div>

<div class="col-12 d-grid">
    <button class="btn btn-primary" type="submit">Submit</button>
</div>